.blue-cube {
    background-image: url('/assets/images/blue_cube_60.png');
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    margin: auto;
    border-radius: initial;
}

.device-list .title{
	font-size: 12px;
}