.small-header{
	color: $dark-main-color;
}

.logo-blue-small{
	background-image: url("/assets/images/blue_cube_60.png");
    display: inline-block;
    width: 43px;
    height: 43px;
    background-size: contain;
}

.login-wrapper{
	height: 500px;
}

.button-wrapper {
	margin: 30px 0;
}

.button-wrapper a{
	margin: 5px 0;
}