<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l3 s6">
                <h5 class="white-text light">{{'FOOTER.JOIN_US' | translate }}</h5>
                <ul>
                    <li><span class="flaticon-twitter1 flaticon"></span><a class="grey-text text-lighten-3" href="#!">{{'FOOTER.TWITTER' | translate }}</a></li>
                    <li><span class="flaticon-google109 flaticon"></span><a class="grey-text text-lighten-3" href="#!">{{'FOOTER.GOOGLE' | translate }}</a></li>
                    <li><span class="flaticon-socialnetwork172 flaticon"></span><a class="grey-text text-lighten-3" href="#!">{{'FOOTER.INSTAGRAM' | translate }}</a></li>
                    <li><span class="flaticon-socialnetwork106 flaticon"></span><a class="grey-text text-lighten-3" href="#!">{{'FOOTER.LINKEDIN' | translate }}</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s6">
                <h5 class="white-text light">DIG DEEPER</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">App Status</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">ontact</a></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text light">Checkout your drop cube</h5>
                <p class="grey-text text-lighten-4">If you want to checkout your drop cube, do it!</p>
                <button class="btn waves-effect waves-light light-blue darken-4 lighten-3" type="submit" name="action" alt="PayPal - The safer, easier way to pay online!">Checkout</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Drop Cube Company
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>