.device-detail-map{
	height: 400px;
}

.myposition{
	margin-right: 20px;
}

.weather-icon{
	width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
}
.clear-day{
    background-image: url('/assets/images/64/33.png');
}

.clear-night{
    background-image: url('/assets/images/64/38.png');
}

.rain{
    background-image: url('/assets/images/64/39.png');
}

.snow{
    background-image: url('/assets/images/64/36.png');
}

.sleet{
    background-image: url('/assets/images/64/36.png');
}

.wind{
    background-image: url('/assets/images/64/31.png');
}

.fog{
    background-image: url('/assets/images/64/30.png');
}

.cloudy{
    background-image: url('/assets/images/64/37.png');
}

.partly-cloudy-day{
    background-image: url('/assets/images/64/32.png');
}

.partly-cloudy-night{
    background-image: url('/assets/images/64/19.png');
}

.bordered{
    border-bottom: 1px dashed #ddd;
}