nav {
    background-color: #0485C3;
    position: fixed;
    z-index: 997;
}

.side-nav{
    z-index: 1000;
}


/*008ccf;*/

.title-wrapper {
    margin-left: 15px;
}


.brand-logo-hide {
    opacity : 0;
}

nav.plain{
    background-color: $clear-main-color;
    box-shadow: none;
}

#logo-small {
    background-image: url("/assets/images/cube_60.png");
    display: inline-block;
    width: 43px;
    height: 43px;
    background-size: contain;
    margin: 10px;
    float: left;
}

@media screen and (max-width: 600px) {

    #logo-small {
	    width: 34px;
	    height: 34px;
	    margin: 10px;
	}
}